.pn-ai-chat{
	max-width:700px;
	margin:20px auto;
	border:1px solid #ddd;
	border-radius:10px;
	background:#fff;
	padding:15px;
}

.pn-ai-chat h3{
	margin:0 0 15px;
	text-align:center;
}

.pn-chat-window{
	height:500px;
	overflow-y:auto;
	border:1px solid #ddd;
	border-radius:8px;
	padding:15px;
	background:#fafafa;
	margin-bottom:15px;
}

.pn-user{
	text-align:right;
	margin:10px 0;
}

.pn-user span{
	display:inline-block;
	background:#2271b1;
	color:#fff;
	padding:10px 15px;
	border-radius:15px 15px 0 15px;
}

.pn-ai{
	text-align:left;
	margin:10px 0;
}

.pn-ai span{
	display:inline-block;
	background:#f1f1f1;
	color:#222;
	padding:10px 15px;
	border-radius:15px 15px 15px 0;
}

#pn-chat-message{
	width:100%;
	min-height:90px;
	margin-bottom:10px;
}

#pn-chat-send{
	width:100%;
}

#pn-chat-send {
	position: relative !important;
	z-index: 99999 !important;
	pointer-events: auto !important;
}
